@{
    ViewData["Title"] = "Home Page";
}
@model RoelVm
<form action="home/addRoll" method="post">
    <p>Role Name</p>
    <input  class="form-control" id="roleName" name="roleName"/>
    <input type="submit" class="btn btn-success"/>
</form>
